@model IEnumerable<ITShop.Models.DatHang>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DienThoaiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChiGiaoHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDatHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NguoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoaiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaChiGiaoHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDatHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiDung.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TinhTrang.ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
